.header {
    display: flex;
    width: 100vw;
    height: 20vh;
    /*adding-bottom: 5em;*/
    /* background-color: antiquewhite; */
    border-bottom: 1px solid grey;
}

.menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}